<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="icon" href="/img/icon.png">
    <title>الرئيسية</title>


    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/btnArrow.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/bootstrap4-charming.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->


    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="transition: 0.5s;">

        <!-- Sidebar - Brand -->
        <a href="/" class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <img class="w-75" src="/img/icon.png"/>
            </div>
            <div class="sidebar-brand-text mx-3">برنامج المطبوعات <sup>V1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <!--       <li class="nav-item"> -->
        <!--         <a class="nav-link" href="index.html"> -->
        <!--           <i class="fas fa-fw fa-tachometer-alt"></i> -->
        <!--           <span>Dashboard</span></a> -->
        <!--       </li> -->

        <!-- Divider -->
        <!--       <hr class="sidebar-divider"> -->

        <!--       Heading -->
        <!--       <div class="sidebar-heading"> -->
        <!--         Interface -->
        <!--       </div> -->

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active bg-danger">
            <a class="nav-link" href="/OS">
                <i class="fas fa-fw fa-pencil-ruler"></i>
                <span>اللوازم المكتبية</span></a>
        </li>

        <hr class="sidebar-divider my-0">

        <li class="nav-item" style="font-weight: bold;">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-book"></i>
                <span>المدخــلات</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">

                        <span>:المعاملات بين الإدخال والإخراج</span>
                    </h6>
                    <a class="collapse-item" href="/orderBondList">دخــــــول</a>
                    <a class="collapse-item" href="/receivingList">خــــــروج</a>
                    <a class="collapse-item" href="/recordsList">التسجيــلات</a>
                </div>
            </div>
        </li>


        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item active">
            <a class="nav-link" href="/recordNameList">
                <i class="fas fa-fw fa-table"></i>
                <span>المطبوعات</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item active">
            <a class="nav-link" href="/serviceList">
                <i class="fas fa-fw fa-briefcase"></i>
                <span>المصــالح</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <li class="nav-item" style="font-weight: bold;">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1"
               aria-expanded="true" aria-controls="collapseTwo1">
                <i class="fas fa-fw fa-print"></i>
                <span>التقــارير</span>
            </a>
            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" href="/reportList">المخــزون الكلـي</a>
                    <a class="collapse-item" href="/safetyStock">مخــزون الأمــان</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
<!--            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="height: auto;background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 400px, rgba(255, 255, 255, 1) 290px), url(/img/2.jpg) no-repeat;;background-size: 400px 128px;">-->
<!--                <form class="estText w-100">-->
<!--                    <h1 dir="rtl" class=" w-100 font-weight-bold text-center text-danger">وزارة الماليــــــة</h1>-->
<!--                    <h2 dir="rtl" class=" w-100 font-weight-bold text-center text-danger">مديرية الحفظ العقاري ببشار</h2>-->
<!--                    <div class="float-right" style="background: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 400px, rgba(255, 255, 255, 1) 290px), url(/img/flag.gif) no-repeat;;background-size: 400px 128px;height: 128px;margin: -120px;width: 470px;"></div>-->

<!--                </form>-->
<!--            </nav>-->
            <nav th:replace="fragments/navbar :: mynavbar">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <div class="cont">
                    <div class="mouse"></div>
                    <div class="app">
                        <div class="app__bgimg">
                            <div class="app__bgimg-image app__bgimg-image--1">
                            </div>
                            <div class="app__bgimg-image app__bgimg-image--2">
                            </div>
                        </div>
                        <div class="app__img">
                            <img onmousedown="return false" src="/img/whiteTest4.png" alt="city" />
                        </div>

                        <div class="app__text app__text--1">
                            <div class="app__text-line app__text-line--4">برنامج تسيير المطبوعات </div>
                            <div class="app__text-line app__text-line--3">الخاص بإدارة الأملاك الوطنية</div>
                            <div class="app__text-line app__text-line--2">الخلية الجهوية للبرمجة بشار </div>
                            <div class="app__text-line app__text-line--1"><img src="/img/icon.png" alt="" /></div>
                        </div>

                        <div class="app__text app__text--2">
                            <div class="app__text-line app__text-line--4">النسخة 1.0</div>
                            <div class="app__text-line app__text-line--3">مرحبا بك..</div>
<!--                            <div class="app__text-line app__text-line&#45;&#45;2">لمزيد من الدعم يرجى التواصل: 0675807075</div>-->
                            <div class="app__text-line app__text-line--1"><img src="/img/icon.png" alt="" /></div>
                        </div>
                    </div>
                    <div class="pages">
                        <ul class='pages__list'>
                            <li data-target='1' class='pages__item pages__item--1 page__item-active'></li>
                            <li data-target='2' class='pages__item pages__item--2'></li>
                        </ul>
                    </div>
                </div>

<!--                <a href="https://twitter.com/mrspok407" target="_blank" class="icon-link icon-link&#45;&#45;twitter">-->
<!--                    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">-->
<!--                </a>-->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="fragments/footer::foot"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery-ui.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->


<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script>
    $(window).on('load', function () {
        let s = $('.estText h2').text();
        let trimmed = s.trim();
        if (!trimmed.length) {
            $('.myFormEst #exampleModalEst').modal('show');
        }

    });

    $(document).ready(function() {
        $('.myFormEst #exampleModalEst #estname').on('input', function (event) {
            this.value = this.value.replace(/[0-9]/g, '');
        });

        const $app = $('.app');
        const $img = $('.app__img');
        const $pageNav1 = $('.pages__item--1');
        const $pageNav2 = $('.pages__item--2');
        let animation = true;
        let curSlide = 1;
        let scrolledUp, nextSlide;

        let pagination = function(slide, target) {
            animation = true;
            if (target === undefined) {
                nextSlide = scrolledUp ? slide - 1 : slide + 1;
            } else {
                nextSlide = target;
            }

            $('.pages__item--' + nextSlide).addClass('page__item-active');
            $('.pages__item--' + slide).removeClass('page__item-active');

            $app.toggleClass('active');
            setTimeout(function() {
                animation = false;
            }, 3000)
        }

        let navigateDown = function() {
            if (curSlide > 1) return;
            scrolledUp = false;
            pagination(curSlide);
            curSlide++;
        }

        let navigateUp = function() {
            if (curSlide === 1) return;
            scrolledUp = true;
            pagination(curSlide);
            curSlide--;
        }

        setTimeout(function() {
            $app.addClass('initial');
        }, 1500);

        setTimeout(function() {
            animation = false;
        }, 4500);

        $(document).on('mousewheel DOMMouseScroll', function(e) {
            var delta = e.originalEvent.wheelDelta;
            if (animation) return;
            if (delta > 0 || e.originalEvent.detail < 0) {
                navigateUp();
            } else {
                navigateDown();
            }
        });

        $(document).on("click", ".pages__item:not(.page__item-active)", function() {
            if (animation) return;
            let target = +$(this).attr('data-target');
            pagination(curSlide, target);
            curSlide = target;
        });


    });
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>

</html>
