<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:include="fragments/head :: myhead">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="fragments/sidebar::mysidebar"></div>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/navbar :: mynavbar">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="myForm">
                    <form th:action="@{/saveOrderBondRecord}" method="post" class="needs-validation" novalidate>
                        <div class="modal-draggable-icon modal fade" id="exampleModal" tabindex="-1"
                             role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title col text-center" id="exampleModalLabel">إضافة/ تعديل
                                            مطبوع</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group d-none">
                                            <label for="Id" class="col-form-label">:الكود</label> <input
                                                type="text" class="form-control" id="Id" name="id"/>
                                        </div>

                                        <div class="form-row">

                                            <div class="form-group col">
                                                <label class="float-right" for="recordName">:المطبـــوع</label>
                                                <select dir="ltr" id="recordName" class="selectpicker form-control" data-style="btn-primary" data-live-search="true"
                                                        th:field="${records.recordName.id}" tabindex="1" required>
                                                    <option value="">قم بتحديد مطبوع</option>
                                                    <option th:each="recordName:${recNameList}"
                                                            th:value="${recordName.id}"
                                                            th:text="${recordName.recname}"></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد مطبـــوع
                                                </div>
                                            </div>


                                        </div>

                                        <!--                                        <div id="date-container" class="form-group">-->
                                        <!--                                            <label class="float-right col-form-label">:التاريــخ</label>-->
                                        <!--                                            <input type="text" class="form-control" id="recorddate"-->
                                        <!--                                                   name="recorddate" tabindex="2" required/>-->
                                        <!--                                            <div class="invalid-feedback">-->
                                        <!--                                                يرجى اختيار التاريخ-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                        <div class="form-row">
<!--                                            <div class=" form-group col">-->
<!--                                                <label for="count" class="float-left col-form-label">:الكمية-->
<!--                                                    المتبقية</label>-->
<!--                                                <input dir="rtl" type="text" class="form-control" id="count"-->
<!--                                                       name="count" tabindex="-1" readonly/>-->
<!--                                            </div>-->
                                            <!--                                            <div class="form-group col">-->
                                            <!--                                                <label for="quantityDemand" class="float-right col-form-label">:الكميــة-->
                                            <!--                                                    المطلوبة</label>-->
                                            <!--                                                <input dir="rtl" type="text" class="form-control" id="quantityDemand"-->
                                            <!--                                                       name="quantityDemand" tabindex="4"/>-->

                                            <!--                                            </div>-->
                                            <div class="form-group col">
                                                <label for="orderBondQuantity" class="float-right col-form-label">:الكميــة
                                                    المطلـوبة</label>
                                                <input dir="rtl" type="text" class="form-control" id="orderBondQuantity"
                                                       name="orderBondQuantity" tabindex="3" required/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد الكمية
                                                </div>
                                            </div>


                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="note" class="float-right col-form-label">:الملاحــظة</label>
                                                <input dir="rtl" type="text" class="form-control" id="note"
                                                       name="note" tabindex="5"/>

                                            </div>
                                        </div>


                                        <!--                                        <div class="form-group">-->
                                        <!--                                            <label for="invent" class="float-right col-form-label">:رقم الجــرد</label>-->
                                        <!--                                            <input dir="rtl" type="text" class="form-control" id="invent"-->
                                        <!--                                                   name="invent"/>-->
                                        <!--                                        </div>-->


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                                data-dismiss="modal" tabindex="7">إغـــلاق
                                        </button>
                                        <input type="submit" id="submit" class="btn btn-sm btn-primary" value="حفــــظ"
                                               tabindex="6"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title col-12 text-center">تأكــيد الحــذف</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- 					<p class="alert alert-danger">Are you sure you want to delete -->
                                <!-- 						it?</p> -->
                                <p>هل أنت متأكد من الحذف ؟</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary"
                                        data-dismiss="modal">إغــلاق
                                </button>
                                <a href="" class="btn btn-sm btn-danger" id="delRef">حــذف</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Page Heading -->
                <a href="/orderBondList" class="btn btn-sm btn-primary my-1 my-sm-0 delBtn btn-arrow-left" aria-label="Left Align">
                    <span class="fas fa-arrow-alt-circle-left" aria-hidden="true"></span>
                    الرجوع لسند الطلبية
                </a>
                <h1 class="h3 mb-2 text-center text-gray-800">:سنــــد الطلبيـــــة</h1>
                <div class="mr-5" dir="rtl" th:each="ordBond: ${orderBond}">
                    <div class="row ">
                        <div class="col-3">
                            <div class="row">
                                <h5>رقم سند الطلبية: </h5>
                                <h5 class="text-center mr-3 text-danger" th:text="${ordBond.orderNum}"></h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <h5>تاريخ سند الطلبية: </h5>
                                <h5 class="text-center mr-3 text-danger" th:text="${ordBond.orderDate}"></h5>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="mr-7">المؤسسة أو الشركة أو المطبعة : </h5>
                        <h5 class="text-center mr-3 text-danger "
                            th:text="${ordBond.servicesOrderBond.servicename}"></h5>
                    </div>


                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="mb-2 m-0 font-weight-bold text-primary">  قائمة المطبــوعات المستلمـــــة ضمن سند الطلبية</h6>
                        <div class="col text-center">
                            <div class="input-group">
                                <div class="input-group-append" style="width: 100%;">
                                    <button class="btn btn-sm btn-lg btn-block btn-success rounded-left newAddOrderBondRecordBtn">
                                        حجــز المطبــوعات المطلوبــــــة
                                    </button>
                                    <!--                                    <a href="/reportReceiving" class="btn btn-danger" role="button" target="_blank"-->
                                    <!--                                       data-toggle="tooltip" data-placement="top"-->
                                    <!--                                       title="طباعة التقرير"><i class="fas fa-fw fa-print" style="margin-top: 5px;"></i></a>-->

                                </div>
                            </div>

                            <!-- 			  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table dir="rtl" class="table text-right table-striped table-bordered table-hover"
                                   id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th>التعيين</th>
                                    <th>الكمية المطلـوبة</th>
                                    <th>ملاحظــة</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th>التعيين</th>
                                    <th>الكمية المطلـوبة</th>
                                    <th>ملاحظــة</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="records:${recordsOrderBondList}">
                                    <td class="d-none" th:text="${records.id}">ID</td>
                                    <td th:text="${records.recordName.recname}" data-toggle="tooltip"
                                        data-placement="top"
                                        th:title="${records.recordName.code}">تعيين وتسمية المطبوعات
                                    </td>
                                    <td class="text-center" th:text="${records.orderBondQuantity}">الكمية المستلمة</td>

                                    <td th:text="${records.note}">ملاحظــة</td>
                                    <td>
                                        <a dir="ltr" th:href="@{/findOrderBondRecord/(id=${records.id})}"
                                           class="btn btn-sm btn-primary my-1 my-sm-0 editBtn"><span
                                                class="fas fa-edit mr-1"></span>تعديل</a>
                                        <a dir="ltr" th:href="@{/deleteOrderBondRecord/(id=${records.id})}"
                                           class="btn btn-sm btn-danger my-1 my-sm-0 delBtn"><span
                                                class="fas fa-trash mr-1"></span>حــذف</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="fragments/footer::foot"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery-ui.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/vendor/dataTables.fixedHeader.js"></script>


<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.ar.min.js" charset="UTF-8"></script>
<script src="/js/bootstrap-select.min.js" charset="UTF-8"></script>

<script type="text/javascript" src="/js/orderBondToAddRecords.js"></script>


<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>


<div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>

</html>
