<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:include="fragments/head :: myhead">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:insert="fragments/sidebar::mysidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/navbar :: mynavbar">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="myForm">
                    <form th:action="@{/saveReceiving}" method="post" class="needs-validation" novalidate>
                        <div class="modal-draggable-icon modal fade" id="exampleModal" tabindex="-1"
                             role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title col text-center" id="exampleModalLabel">حفظ/تعديل
                                            بيان التسليم</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group d-none">
                                            <label for="Id" class="col-form-label">:الكود</label> <input
                                                type="text" class="form-control" id="id" name="id"/>
                                        </div>


                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="receive_date" class="float-right col-form-label">:تاريخ بيان
                                                    التسليم</label>
                                                <input dir="rtl" type="text" class="form-control" id="receive_date"
                                                       name="receive_date" tabindex="2" required/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد تاريخ بيان التسليم
                                                </div>
                                            </div>
                                            <div class="form-group col">
                                                <label class="float-right col-form-label">:رقم بيان تسليم </label>
                                                <input dir="rtl" type="text" class="form-control" id="receive_num"
                                                       name="receive_num" tabindex="1" required/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد رقم بيان التسليم
                                                </div>
                                            </div>


                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="memo_date" class="float-right col-form-label">:تاريخ
                                                    سند الطلبية</label>
                                                <input dir="rtl" type="text" class="form-control" id="memo_date"
                                                       name="memo_date" tabindex="4"/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد تاريخ سند الطلبية
                                                </div>
                                            </div>
                                            <div class="form-group col">
                                                <label for="memo_num" class="float-right col-form-label">:سند طلبية
                                                    رقم</label>
                                                <input dir="rtl" type="text" class="form-control" id="memo_num"
                                                       name="memo_num" tabindex="3"/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد رقم سند الطلبية
                                                </div>
                                            </div>


                                        </div>


                                        <div class="form-group">
                                            <label for="deliver_date" class="float-right col-form-label">:تاريخ التسليم
                                                للموظف</label>
                                            <input dir="rtl" type="text" class="form-control" id="deliver_date"
                                                   name="deliver_date" tabindex="5"/>
                                            <div class="invalid-feedback">
                                                يرجى تحديد تاريخ التسليم
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="deliver_to" class="float-right col-form-label">:مسلم إلى
                                                الموظف</label>
                                            <input dir="rtl" type="text" class="form-control" id="deliver_to"
                                                   name="deliver_to" tabindex="6"/>
                                            <div class="invalid-feedback">
                                                يرجى ذكر اسم المستلم
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="mo_date" class="float-right col-form-label">:تاريخ الأمر
                                                    بالمهمة</label>
                                                <input dir="rtl" type="text" class="form-control" id="mo_date"
                                                       name="mo_date" tabindex="8"/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد تاريخ الأمر بالمهمة
                                                </div>
                                            </div>
                                            <div class="form-group col">
                                                <label for="mo_num" class="float-right col-form-label">:رقم الأمر
                                                    بالمهمة </label>
                                                <input dir="rtl" type="text" class="form-control" id="mo_num"
                                                       name="mo_num" tabindex="7"/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد رقم الأمر بالمهمة
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label for="mo_owner" class="float-right col-form-label">:أمر بمهــمة
                                                    صادرة عــن </label>
                                                <input dir="rtl" type="text" class="form-control" id="mo_owner"
                                                       name="mo_owner" tabindex="9"/>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد رقم الأمر بالمهمة
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row">

                                            <div class="form-group col">
                                                <label for="servicename" class="float-right col-form-label">:المصلحة
                                                    المستلمة</label>
                                                <select dir="ltr" id="servicename" class="selectpicker form-control"
                                                        data-style="btn-primary" data-live-search="true"
                                                        th:field="${receiving.servicesReceiving.serviceid}"
                                                        tabindex="10" required>
                                                    <option value="-1">قم بتحديد مصلحة</option>
                                                    <option th:each="service:${serReceivingNameList}"
                                                            th:value="${service.serviceid}"
                                                            th:text="${service.servicename}"></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    يرجى تحديد المصلحة
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                                data-dismiss="modal" tabindex="11">إغـــلاق
                                        </button>
                                        <input type="submit" class="btn btn-sm btn-primary" value="حفــــظ"
                                               tabindex="10"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title col-12 text-center">تأكــيد الحــذف</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- 					<p class="alert alert-danger">Are you sure you want to delete -->
                                <!-- 						it?</p> -->
                                <p>هل أنت متأكد من الحذف ؟</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary"
                                        data-dismiss="modal">إغــلاق
                                </button>
                                <a href="" class="btn btn-sm btn-danger" id="delRef">حــذف</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-center text-gray-800">بيـــانات التسليـــــم</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="mb-2 m-0 font-weight-bold text-primary">قائمة بيـــانات التسليـــــم</h6>
                        <div class="col text-center">
                            <button class="btn btn-sm btn-lg btn-block btn-success newAddReceivingBtn">إضافة بيـــان
                                تسليــــم
                            </button>
                            <!-- 			  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table dir="rtl" class="table text-right table-striped table-bordered table-hover"
                                   id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th style="width: 20px;"></th>
                                    <th>رقم بيان التسليم</th>
                                    <th>تاريخ بيان التسليم</th>
                                    <th>مسلم بتاريخ</th>
                                    <th>إلى السيد</th>
                                    <th>المصلحة</th>
                                    <th style="min-width: 150px;"></th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th class="d-none">ID</th>
                                    <th></th>
                                    <th>رقم بيان التسليم</th>
                                    <th>تاريخ بيان التسليم</th>
                                    <th>مسلم بتاريخ</th>
                                    <th>إلى السيد</th>
                                    <th>المصلحة</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="receiving:${receivList}">

                                    <td class="d-none" th:text="${receiving.id}">ID</td>
                                    <td><a dir="ltr" th:href="@{'findReceivingToAddRecords/'+ 'id='+${receiving.id}}"
                                           class="btn btn-pill btn-success"><i class="fa fa-clipboard-list"></i></a>
                                    </td>
                                    <td th:text="${receiving.receive_num}">رقم بيان التسليم</td>
                                    <td th:text="${receiving.receive_date}">تاريخ بيان التسليم</td>
                                    <td class="text-center" th:text="${receiving.deliver_date}">مسلم بتاريخ</td>
                                    <td class="text-center" th:text="${receiving.deliver_to}">إلى السيد</td>
                                    <td th:text="${receiving.servicesReceiving.servicename}">المصلحة</td>
                                    <td>
                                        <a dir="ltr" th:href="@{findReceiving/(id=${receiving.id})}"
                                           class="btn btn-sm btn-primary my-1 my-sm-0 editBtn"><span
                                                class="fas fa-edit mr-1"></span>تعديل</a>

                                        <a dir="ltr" th:if="${receiving.records.size()<1}" th:href="@{deleteReceiving/(id=${receiving.id})}"
                                           class="btn btn-sm btn-danger my-1 my-sm-0 delBtn"><span
                                                class="fas fa-trash mr-1"></span>حــذف</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="fragments/footer::foot"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery-ui.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="vendor/dataTables.fixedHeader.js"></script>


<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.ar.min.js" charset="UTF-8"></script>
<script src="/js/bootstrap-select.min.js" charset="UTF-8"></script>

<script type="text/javascript" src="js/receivingList.js"></script>


<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>


<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<script>
    $(window).on("load", function () {
        $(".loader-wrapper").fadeOut("slow");
    });
</script>
</body>

</html>
